table {
  text-align: center;
}

#celula1 {
 width: 50px;
 padding:10px;
 _width: 255px;
 }
 #celula2 {
 width: 50px;
 padding:10px;
 _width: 255px;
 }
 #celula3 {
 width: 50px;
 padding:10px;
 _width: 255px;
 }
 #celula4 {
 width: 50px;
 padding:10px;
 _width: 255px;
 }
 #celula5 {
 width: 50px;
 padding:10px;
 _width: 255px;
 }
 #celula6 {
 width: 50px;
 padding:10px;
 _width: 255px;
 }
