table {
  text-align: center;
  font-family: Calibri;
}
th {
 width: 50px;
 padding:10px;
 _width: 255px;
 background-color: #c81e1e;
 color: #fff
 }
 tr:nth-child(odd) {
    background-color: #e6e6e6;
}
 tr:nth-child(even){
   background-color: #c2c2c2;
 }
